[submodule "packages/osmojs/cosmos-sdk"]
	path = packages/osmojs/cosmos-sdk
	url = git@github.com:osmosis-labs/cosmos-sdk.git
[submodule "packages/osmojs/osmosis"]
	path = packages/osmojs/osmosis
	url = git@github.com:cosmology-tech/osmosis.git
[submodule "packages/osmojs/wasmd"]
	path = packages/osmojs/wasmd
	url = git@github.com:CosmWasm/wasmd.git
[submodule "packages/osmojs/ibc-go"]
	path = packages/osmojs/ibc-go
	url = git@github.com:cosmos/ibc-go.git
[submodule "packages/osmojs/ics23"]
	path = packages/osmojs/ics23
	url = git@github.com:cosmos/ics23.git
